/* Tablet */
@media screen and (max-width: 800px) {
  .container {
    max-width: 800px;
  }
  /* Index */
  .header_logo,
  .all_category header,
  .profile header,
  .details header {
    width: 800px;
  }
  .container_search.active,
  .all_category.container_search.active,
  .profile .container_search.active {
    width: 300px;
  }
  .home_icon,
  .all_category header .home_icon,
  .profile .home_icon,
  .details .home_icon {
    margin-right: 10px !important;
  }
  .brand_name,
  .all_category.brand_name,
  .profile .brand_name,
  .details .brand_name {
    padding-top: 25px;
    text-align: center;
    font-size: 22px;
  }
  .right button,
  .all_category.right button,
  .profile .right button,
  .details .right button {
    margin-right: 10px !important;
  }
  .hero {
    background: #748873;
    width: 800px;
    height: 40px;
  }
  .hero nav ul li a.category {
    width: 170px;
    font-size: 15px;
    padding: 10px 0;
    transition: all ease 0.3s;
    margin-left: 10px;
  }
  .hero ul .submenu {
    width: 220px;
  }
  .hero ul .submenu li a {
    width: 220px;
    font-size: 12px;
    overflow-wrap: break-word;
  }
  .slider {
    width: 800px;
    height: 450px;
  }
  .slider .list .item {
    width: 800px;
    display: flex;
    justify-content: space-around;
  }
  .slider .list .item .hot_news_introduction h2 {
    font-size: 22px;
    top: -15%;
  }
  .slider .list .item img {
    width: 320px;
    height: 230px;
    object-fit: cover;
    top: 35%;
    left: 15%;
  }
  .slider .list .item .hot_news_introduction p {
    font-size: 20px;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .slider .list .item .hot_news_introduction {
    padding-right: 20px;
  }
  .slider .list .item .hot_news_introduction span {
    font-size: 15px;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .slider .dots {
    bottom: 6%;
  }
  .slider .list .item .hot_news_introduction button {
    margin-top: -20px;
    width: 135px;
    height: 40px;
    font-size: 16px;
    text-align: center;
  }
  .post {
    padding: 20px 50px;
  }
  .post .title {
    font-size: 22px;
    margin-bottom: 25px;
  }
  .ranking_title p {
    font-size: 18px;
    margin-right: 9px;
    text-align: center;
  }
  .historical_post button.viewall {
    width: 115px;
    height: 40px;
    font-size: 18px;
    margin-top: 5px;
  }
  .list_newest_post,
  .list_top_reads,
  .list_oldest_post {
    display: block;
  }
  .post_item h3,
  .list_footer .title_list {
    font-size: 18px;
    margin-bottom: 25px;
  }
  .post_item p {
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: -5px;
    width: 450px;
  }
  .content_title {
    display: none;
  }
  .viewall {
    display: none;
  }
  .post_item {
    height: 200px;
  }
  .post_item img {
    height: 150px;
  }
  .post_item .content button {
    position: absolute;
    top: 80%;
    left: 85%;
  }
  .category_container .title_container {
    width: 745px;
  }
  .category_container .title_container .subcategory {
    width: 700px;
    max-width: 745px;
  }
  .category_container .title_container .subcategory,
  .contact_footer .address p,
  .contact_footer .email p {
    font-size: 15px;
  }
  .categories {
    display: block;
    width: 750px;
  }
  .catefories_left {
    width: 100%;
    top: 50px;
  }
  .it {
    top: -50px;
  }
  .categories_right {
    top: 50px;
    right: -20px;
  }
  footer {
    margin-top: 100px;
    width: 750px;
    max-width: 800px;
  }
  .widget_brand {
    padding: 10px;
  }
  .word {
    font-size: 30px;
  }
  .list_footer {
    padding: 25px 0;
  }
  .list_footer ul {
    padding: 0 12px;
  }
  .block {
    top: 3%;
  }
  /* Category */
  .all_category {
    width: 800px;
  }
  .all_category header .home_icon,
  .profile .home_icon,
  .details .home_icon {
    margin-left: -5px !important;
  }
  .top_page p {
    font-size: 15px;
  }
  .top_page span {
    height: 20px;
  }
  .left_category .title_left p {
    font-size: 20px;
  }
  .left_category .title_left i {
    left: -5%;
  }
  .list_filter {
    width: 230px;
  }
  .category_filter span,
  .top_reads_filter span,
  .newest_post_filter span {
    font-size: 19px;
  }
  a.title_submenu {
    font-size: 15px;
  }
  .title_submenu i {
    font-size: 12px;
    margin-left: -15px;
  }
  .sub li,
  .newest_post_filter li,
  .top_reads_filter li {
    padding-left: 20px;
  }
  .sub li input,
  .newest_post_filter li input,
  .top_reads_filter li input {
    left: 8%;
    width: 15px;
    height: 15px;
  }
  .filter_category button {
    width: 120px;
  }
  .sort p {
    font-size: 17px;
    margin-right: 5px;
  }
  .list_article {
    justify-content: flex-start;
  }
  .article_items {
    width: 490px;
    height: 255px;
  }
  .article_items img {
    height: 190px;
  }
  .content {
    width: 285px;
  }
  .title_acticle {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  /* Profile */
  .user_info img {
    width: 70px;
    height: 70px;
    margin: 0 5px;
  }
  .infor h4,
  .infor p {
    font-size: 15px;
    font-weight: 600;
  }
  .infor span {
    font-size: 14px;
    font-weight: normal;
  }
  .main_content {
    width: 800px;
  }
  .right_profile ul li a {
    width: 480px;
  }
  .right_profile .post {
    width: 470px;
  }
  .article_content img {
    width: 35%;
    height: 220px;
  }
  /* Detail */
  .article {
    width: 800px;
  }
  .left_article {
    margin-right: -10px;
    padding: 15px;
    width: 60%;
  }
  .left_article .title_article {
    width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .left_article .content_article p {
    padding: 0 5px;
  }
  .right_article {
    width: 50%;
  }
  .right_article .show_all_comments {
    width: 340px;
  }
  .right_article .like_comment_number,
  .right_article .author_time_article {
    width: 340px;
  }
  .right_article .author_time_article .author img {
    margin-top: 10px;
    margin-right: 5px;
  }
  .right_article .author_time_article .time {
    font-size: 15px;
    margin-top: 15px;
  }
  .right_article .write_comment_area {
    width: 340px;
  }
  .similar_topic {
    overflow-x: auto;
  }
  .similar_topic h3 {
    font-size: 25px;
  }
  .similar_article_list .similar_item {
    width: 300px;
    height: 550px;
  }
  .similar_article_list .similar_item img {
    width: 90%;
    height: 300px;
  }
  .similar_article_list .similar_item .content_items p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .similar_article_list .similar_item .time_author p:first-child,
  .similar_article_list .similar_item .time_author p:last-child {
    font-size: 14px;
  }
}
